<div class="features">
	<div class="heading">
		</div>
		<%# Cards %>
	<div class="cards">

  <a href="/community">
		<div class="card">
			<img src="https://previews.123rf.com/images/yupiramos/yupiramos1509/yupiramos150912155/45719186-community-and-social-design-vector-illustration-eps-10.jpg" alt="">
			<h3> Communities </h3>
     </div> </a>
    


    <a href="/Opportunities">
		<div class="card">
			<img src="https://img.freepik.com/premium-vector/light-bulb-with-rays-shine-cartoon-style-flat-style-hand-drawn-style-doodle-style-symbol-creativity-innovation-inspiration-invention-idea-vector-illustration_175838-3305.jpg?w=2000"alt="">
			<h3>Opportunities</h3>
		</div></a>
    
		<a href="/chat">
		<div class="card">
			<img src="https://st2.depositphotos.com/3687485/12112/v/380/depositphotos_121121972-stock-illustration-business-motivation-icon-vector.jpg?forcejpeg=true" alt="">
			<h3>Motivation</h3>
			
      
		</div> </a>
		
    <a href="/OnlineCourses">
		<div class="card">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuwYrA9BZ6BhNnDgWOC7YgW69H5ptZjuTZSg&usqp=CAU" alt="">
      <h3>Online Courses </h3>
		</div></a>

   
	</div>
</div>