<div class="arCardsWrap">
		<%# Absolute SVG that is displayed on page %>
    <img src="/media/dots.svg" class="dots">

		<%# Cards %>

		<div class="arCards">
			<div><a href="https://imgbb.com/"><img src="https://i.ibb.co/FqFgL33/Black-and-white-minimalist-jewelry-logo-4.png" alt="Black-and-white-minimalist-jewelry-logo-4" height = "200" width = "200" border="0"></a></div>
			<article>
				<h3>Sego Lily Hacks - Internship</h3>
				<p>Sego Lily Hacks, a hackathon for underrepresented genders are looking for Marketing Interns. </p>
			</article>
			<div class="arCardsAWrap"><a href="https://www.segolilyhacks.com/" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

		<div class="arCards">
			<div class="imgContainer arCard3"></div>
			<article>
				<h3>MLH - Hack Girl Summer 3</h3>
				<p>Join us for this gender-focused hackathon. The theme is open but feel free to hack on projects that focus on gender equity.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://organize.mlh.io/participants/events/8396-hack-n-jill-apac-edition" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

    <div class="arCards">
			<div class="imgContainer arCard4"></div>
			<article>
				<h3>TechTogether Boston</h3>
				<p>TechTogether Boston is a 2-day hackathon for people of marginalized genders hosted by community leaders across Massachusetts.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://organize.mlh.io/participants/events/8321-techtogether-boston" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

    <div class="arCards">
      <div><img src="https://heartsoflove.github.io/autumnnhacks/images/logo.png" height= "200" width="200"</img></div>
			<article>
				<h3>Autum Hacks</h3>
				<p>Between September 10th and September 12th, Hearts of Love will be hosting a hackathon.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://heartsoflove.github.io/autumnnhacks/" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

</div>