<div class="arCardsWrap">
		<%# Absolute SVG that is displayed on page %>
    <img src="/media/dots.svg" class="dots">

		<%# Cards %>
<div class="arCards">
			<div><a href="https://imgbb.com/"><img src="https://i.ibb.co/YtsVs4b/Black-and-white-minimalist-jewelry-logo-5.png" alt="Black-and-white-minimalist-jewelry-logo-5" height = "200" width = "200" border="0"></a></div>

	
			<article>
				<h3>Fundamentals of digital marketing - Google</h3>
				<p>Learn the fundamentals of digital marketing to help your business or career </p>
			</article>
			<div class="arCardsAWrap"><a href="https://learndigital.withgoogle.com/digitalgarage/course/digital-marketing" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

		<div class="arCards">
			<div><a href="https://imgbb.com/"><img src="https://i.ibb.co/YtsVs4b/Black-and-white-minimalist-jewelry-logo-5.png" alt="Black-and-white-minimalist-jewelry-logo-5" height = "200" width = "200" border="0"></a></div>
			<article>
				<h3>Google UX Design - Coursera </h3>
				<p>This is your path to a career in UX design. In this program, you’ll learn in-demand skills that will have you job-ready in less than 6 months.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://www.coursera.org/professional-certificates/google-ux-design" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

    <div class="arCards">
			<div><a href="https://imgbb.com/"><img src="https://pbs.twimg.com/profile_images/1493905126670675969/y_hQBo95_400x400.jpg" alt="Black-and-white-minimalist-jewelry-logo-5" height = "200" width = "260" border="0"></a></div>
			<article>
				<h3>IBM Full Stack Software Developer</h3>
				<p>Kickstart your career in application development. Master Cloud Native and Full Stack Development using hands-on projects.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://www.coursera.org/professional-certificates/ibm-full-stack-cloud-developer" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

    <div class="arCards">
      <div><a href="https://imgbb.com/"><img src="https://i.ibb.co/YtsVs4b/Black-and-white-minimalist-jewelry-logo-5.png" alt="Black-and-white-minimalist-jewelry-logo-5" height = "200" width = "200" border="0"></a></div>
			<article>
				<h3>Google IT Automation </h3>
				<p>Learn in-demand skills like Python, Git, and IT automation to advance your career.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://www.coursera.org/professional-certificates/google-it-automation" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

</div>