<div class="arCardsWrap">
		<%# Absolute SVG that is displayed on page %>
    <img src="/media/dots.svg" class="dots">

		<%# Cards %>

		<div class="arCards">
			<div class="imgContainer arCard2"></div>
			<article>
				<h3>Superposition</h3>
				<p> Superposition is an international non-profit bridging the gender gap in STEM through events, chapters, and mentorship.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://superposition.tech/" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

		<div class="arCards">
			<div class="imgContainer arCard3"></div>
			<article>
				<h3>Major League Hacking</h3>
				<p>MLH is a 500k+ global community empowering the next generation of developers to learn through hackathons and MLH Fellowship.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://mlh.io/" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

    <div class="arCards">
			<div class="imgContainer arCard4"></div>
			<article>
				<h3>Tech Together</h3>
				<p>TechTogether, the nation's largest initiative to address the gender inequities in the hackathon community, supports over 10,000 hackers.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://www.techtogether.io/" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

    <div class="arCards">
			<div class="imgContainer arCard6"></div>
			<article>
				<h3>Women Techmakers</h3>
				<p>Google’s Women Techmakers program provides visibility, community, and resources for women in technology.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://developers.google.com/womentechmakers" target="_blank"><button class="buttonPrimary">Explore</button></a></div>
		</div>

</div>