<section class="hero">
	<%# Absolute SVG that is displayed on page %>
	<img src="/media/topItem.svg" class="topItem" />
		<%# Hero Content %>
		<span class="heroWrap">
			<article>
				<h1>Women
        <span	class="headerSecondaryText">Scape</span>
        </h1>
				<p>Womenscape is a website aimed to encourage women in tech by providing them useful resources. There is no question that women are underrepresented in the tech sector, from entry-level positions all the way up to management and leadership positions. According to a 2020 study by the AnitaB.org Institute, women now make up 28.8% of the IT workforce, up from 25.9% in 2018 and 26.2% in 2019. The most recent survey examined information on more than 500,000 American technicians working for 51 participating companies. However, at current rate, it might take more than ten more years for women to achieve parity in the tech industry.</p>

				<button class="buttonPrimary">Learn More</button>
			</article>
			<%# Absolute SVG that is displayed on page %>
		<img class="art" src="/media/art.png" />
		</span>
</section>