<!DOCTYPE html>
<html lang="en">
	<%# Head %>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Motivation - Womenscape </title>
		<link rel="stylesheet" href="/styles/chat.css" type="text/css" />
    	<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <script src="https://kit.fontawesome.com/43c1b0f304.js" crossOrigin="anonymous"></script>
	</head>
	<%# end of head %>
	<body>
		<%# Import Nav %>
		<header>
			<%- include('../partials/nav') %>
		</header>

		<%# Main content %>
		<main>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">

<div class="wrapper">
  <form action="#" class="card-content">
    <div class="container">
      <div class="image">
        <i class="fas fa-envelope"></i>
      </div>
      <h1>Motivational Messages</h1>
      <p>Enter your phone number below</p>
    </div>
    
  <!"body": "Sent from your Twilio trial account - When you have a dream, you've got to grab it and never let go",
  "numSegments": "1",
  "direction": "outbound-api",
  "from": "+12568587887",
  "to": "+919",
  "dateUpdated": "2022-09-04T06:39:25.000Z",
  "price": null,
  "errorMessage": null,
  "uri": "/2010-04-01/Accounts/ACdb5205eb0e35271d87a22798bcbf4142/Messages/SMbf666afe917dd5b9824a78e4f17090d8.json",
  "accountSid": "ACdb5205eb0e35271d87a22798bcbf4142",
  "numMedia": "0",
  "status": "queued",
  "messagingServiceSid": null,
  "sid": "SMbf666afe917dd5b9824a78e4f17090d8",
  "dateSent": null,
  "dateCreated": "2022-09-04T06:39:25.000Z",
  "errorCode": null,
  "priceUnit": "USD",
  "apiVersion": "2010-04-01",
  "subresourceUris": {
    "media": "/2010-04-01/Accounts/ACdb5205eb0e35271d87a22798bcbf4142/Messages/SMbf666afe917dd5b9824a78e4f17090d8/Media.json"!>
    <div class="form-input">
      <label for="email"></label>
      <input type="tel" placeholder="Your Phone number">
      <button class="subscribe-btn">Get</button>

    </main>
    </div>
  </form>
</div>