<!DOCTYPE html>
<html lang="en">
	<%# Head %>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, 	initial-scale=1.0">
		<title>Home - Womenscape</title>
		<link rel="stylesheet" href="/styles/style.css" type="text/css" />
		<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <script src="https://kit.fontawesome.com/43c1b0f304.js" crossOrigin="anonymous"></script>
	</head>
	<%# End of head %>

	<body>
		<%# Import Navbar from partials (EJS equivalent to React components) %>
		<header>
			<%- include('../partials/nav') %>
		</header>

		<%# Main Content %>
		<main>
			<%# Import Hero + Cards %>
			<%- include('../partials/hero') %>
			<%- include('../partials/cards') %>
			<%# Absolute SVG that is displayed on page %>
			<img src="/media/ellipse.svg" class="ellipse" />
			<img src="/media/ellipseLeft.svg" class="ellipseLeft" />
			
		</main>
		<%# End of main content %>

		<%# Import Footer %>
		<footer>
			<%- include('../partials/footer') %>
		</footer>
	</body>
</html>